<!-- FAN TEMPLATE -->

<div class="panel panel-default device col-xs-5 col-sm-5 col-md-5" id="<%= device.id %>">
	<%
		if device.state=="enabled"
			spin="fa-spin"
		else
			spin=""
		end
	%>
  <div class="panel-heading">
    <h3 class="panel-title device-name">
	    <%= device.name %>
	    <a href="#" class="remove-device">
	    	<i class="fa fa-times"></i>
	  	</a>
  	</h3>
  </div>

  <div class="panel-body device-controls">

  	<div class="left-side col-xs-6 col-sm-6 col-md-6">
  		<div>
			  <i class="fa <%= device.icon %> fa-10 <%= device.device_type %> <%= device.device_type %>-<%= device.state %> <%= spin %>" aria-hidden="true" style="animation-duration: <%= 4.0*(0.5)**(device.speed - 1) %>s"></i>
			  <input class="speedInput" min="1" max="4" type="range" value="<%= device.speed %>" <%= device.state %>/>
			  <label class="speedText">Speed: <%= device.speed %></label>
			</div>
	  </div>

	  <div class="right-side col-xs-6 col-sm-6 col-md-6">
			<a href="#" class="btn btn-primary btn-schedule-device">
				Schedule
				<i class="fa fa-clock-o fa-1" aria-hidden="true"></i>
			</a>
	  </div>
  </div>
</div>