<!-- Generic TEMPLATE -->
<%= render partial: "shared/devices/device_header",locals:{device: device} %>
<div class="panel-body device-controls">

	<div class="left-side col-xs-6 col-sm-6 col-md-6">
		<div>
		  <i class="fa <%= device.icon %> fa-10 <%= device.device_type %> <%= device.device_type %>-<%= device.state %> " aria-hidden="true" ></i>
		</div>
  </div>

  <div class="right-side col-xs-6 col-sm-6 col-md-6">
		<%= render partial:"shared/devices/schedule",locals:{device:device} %>
  </div>
</div>